@use "sass:color"

@import "../common/index.sass"

html, body
    background-color: $light-grey
    height: 100%
    width: 100%
    display: flex
    flex-direction: column

#app
    flex: 1
    height: 100%
    width: 100%
    display: flex
    flex-direction: column

    main
        flex: 1
        display: flex
        flex-direction: column
        overflow: hidden

        .grid-wrapper
            flex: 1
            overflow: auto
            scrollbar-width: none

            svg
                max-width: none
                max-height: none

.topnav
    background-color: rgba(255,255,255,0.95)
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 15%)
    display: flex
    align-items: center
    justify-items: stretch
    padding-bottom: 1rem!important
    margin-bottom: 1rem!important

.flex-grow-5
    flex-grow: 5

$token-colors: ("grey": #aaa, "green": #02551d, "blue": #001f75, "red": #900018, "orange": #c54f00, "purple": #750075, "yellow": #b8a500, "black": #222, "brown": #5d2a00)
$background-colors: ("grey": #b1b1b1, "green": #739f81, "blue": #7091ec, "red": #c88c96, "orange": #eea366, "purple": #cd7ecd, "yellow": #e6e0a5, "black": #c5c5c5, "brown": #b07d5b)

.btn.symbol-selector
    width: 2.8rem

.btn.color-selector
    @each $token-color, $value in $token-colors
        &.#{$token-color}
            color: lighten($value, 0%)
            background-color: lighten($value, 0%)
            &:hover
                background-color: lighten($value, 10%)
                color: lighten($value, 80%)
            &.selected
                color: white

.btn-outline-secondary
    svg        
        .wall-symbol
            stroke: black
            fill: none
            stroke-width: 0.8
            stroke-linejoin: round
            stroke-linecap: round
    &:hover
        svg
            .wall-symbol
                stroke: white
                fill: none
.btn-secondary
    svg
        .wall-symbol
            stroke: white
            fill: none

svg
    // width: 100%
    
    &#game-grid
        background-color: $light-grey

    .canvas
        fill: white
    
    .grid-line
        stroke: black
        stroke-width: 0.1    
            
    text.token
        font-family: system-ui, Arial, sans-serif
        font-size: 10px
        text-anchor: middle
        dominant-baseline: central
        stroke-width: 0.3

        @each $token-color, $value in $token-colors
            &.#{$token-color}
                stroke: $value
                fill: lighten($value, 15%)

    .background
        stroke-width: 1
        stroke-linecap: round
        stroke-linejoin: round

        @each $background-color, $value in $background-colors
            &.#{$background-color}
                stroke: lighten($value, 10%)
                fill: lighten($value, 10%)

    .wall
        stroke-width: 1.5
        stroke-linecap: round
        stroke-linejoin: round

        @each $token-color, $value in $token-colors
            &.#{$token-color}
                stroke: $value

    .wall-symbol
        stroke-width: .4
        fill: none
